/**
 * @file pages/System/MenuManagement.scss
 * @author leon.wang
 */
@import 'scss/common.scss';

.menu-management {
  padding: 24px;
  background: #fff;
  border-radius: 8px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.menu-type-menu {
  color: #1890ff;
  background: #e6f7ff;
  border-color: #91d5ff;
}

.menu-type-page {
  color: #52c41a;
  background: #f6ffed;
  border-color: #b7eb8f;
}

.menu-type-button {
  color: #fa8c16;
  background: #fff7e6;
  border-color: #ffd591;
}

.menu-visible-yes {
  color: #52c41a;
  background: #f6ffed;
  border-color: #b7eb8f;
}

.menu-visible-no {
  color: #d9d9d9;
  background: #fafafa;
  border-color: #d9d9d9;
}
