/**
 * @file pages/System/RoleManagement.scss
 * @author leon.wang
 */
@import 'scss/common.scss';

.role-management {
  padding: 24px;
  background: #fff;
  border-radius: 8px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__permission {
    p {
      margin-bottom: 16px;
      color: #666;
    }

    .ant-tree {
      background: #f5f5f5;
      padding: 16px;
      border-radius: 4px;
    }
  }
}

.role-status-active {
  color: #52c41a;
  background: #f6ffed;
  border-color: #b7eb8f;
}

.role-status-inactive {
  color: #d9d9d9;
  background: #fafafa;
  border-color: #d9d9d9;
}
