/**
 * @file src/pages/Hooks/ReactHookForm.scss
 * @author leon.wang
 */

@import 'scss/common.scss';

.react-hook-form {


  &__header {
    margin-bottom: 24px;
  }

  &__features {
    list-style-position: inside;
    margin-left: 0;
    padding-left: 20px;

    li {
      margin-bottom: 8px;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  &__card {
    margin-bottom: 24px;

    .ant-card-body {

    }
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
  }

  &__error {
    color: #ff4d4f;
    font-size: 14px;
    margin-top: 4px;
    min-height: 20px;
  }
}
