@import 'scss/common.scss';

.email-success-modal {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
  }

  &__illustration {
    margin-bottom: 24px;

    svg {
      width: 200px;
      height: auto;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: #1a1a1a;
    margin: 0 0 16px 0;
    text-align: center;
  }

  &__description {
    text-align: center;
    color: $theme-primary;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;

    p {
      margin: 0 0 8px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__button {
    width: 136px;
    font-size: 14px;
    font-weight: 500;
  }
}

// Override Modal default styles
.email-success-modal {
  .ant-modal-content {
    padding: 32px 24px;
  }

  .ant-modal-close {
    top: 16px;
    right: 16px;
  }
}
