/**
 * @file pages/FlowDesigner/components/NodePanel.scss
 * @author leon.wang
 */
@import 'scss/common.scss';

.node-panel {
  &__info {
    margin-top: 24px;
    padding: 16px;
    background: #f5f5f5;
    border-radius: 4px;
  }

  &__info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__info-label {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
  }

  &__info-value {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: 500;
  }
}
