/**
 * @file src/components/FadeIn/FadeIn.scss
 * @author leon.wang
 */

@import 'scss/common.scss';

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition-property: opacity, transform;

  &--visible {
    opacity: 1;
    transform: translateY(0);
  }
}
