/**
 * @file pages/Components/ErrorMonitorDemo.scss
 * @author leon.wang
 */
@import 'scss/common.scss';

.error-monitor-demo {


  h1 {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 600;
  }

  &__stats,
  &__trigger,
  &__list {
    margin-bottom: 24px;
  }

  &__detail {
    max-height: 600px;
    overflow-y: auto;
  }

  &__stack {
    max-height: 300px;
    overflow: auto;
    padding: 12px;
    background: #1f1f1f;
    color: #d4d4d4;
    border-radius: 4px;
    font-family: 'Monaco', 'Courier New', monospace;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    white-space: pre-wrap;
    word-break: break-all;
  }

  // Tag color classes
  :global {
    .tag-blue {
      color: #1890ff;
      background: #e6f7ff;
      border-color: #91d5ff;
    }

    .tag-orange {
      color: #fa8c16;
      background: #fff7e6;
      border-color: #ffd591;
    }

    .tag-purple {
      color: #722ed1;
      background: #f9f0ff;
      border-color: #d3adf7;
    }

    .tag-cyan {
      color: #13c2c2;
      background: #e6fffb;
      border-color: #87e8de;
    }

    .tag-red {
      color: #f5222d;
      background: #fff1f0;
      border-color: #ffa39e;
    }

    .tag-green {
      color: #52c41a;
      background: #f6ffed;
      border-color: #b7eb8f;
    }

    .tag-magenta {
      color: #eb2f96;
      background: #fff0f6;
      border-color: #ffadd2;
    }

    .tag-default {
      color: #595959;
      background: #fafafa;
      border-color: #d9d9d9;
    }
  }
}
