/**
 * @file src/components/Masonry/Masonry.scss
 * @author leon.wang
 */

@import 'scss/common.scss';

.masonry {
  width: 100%;

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__item {
    break-inside: avoid;
    page-break-inside: avoid;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}
