/**
 * @file src/components/FullScreenModal.scss
 * @author leon.wang
 */

@import 'scss/common.scss';

.fullscreen-modal {
  .ant-modal-content {
    height: 100vh;
    border-radius: 0;
  }
  .ant-modal-body {
    max-height: 100vh;
    overflow-y: auto;
    padding: 0;

    iframe {
      height: 100vh;
      border: none;
      width: 100%;
    }
  }
}

// Additional class names for style customization
.fullscreen-modal-content {
  height: 100vh !important;
  border-radius: 0 !important;
}

.fullscreen-modal-body {
  max-height: 100vh !important;
  overflow-y: auto;
  padding: 0 !important;
}

