@import 'scss/common.scss';

.contact-info {
  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    line-height: 22px;
    color: $theme-primary;
  }

  &__icon {
    color: #647075;
    flex-shrink: 0;
  }
}
