/**
 * @file components/FixedTable/FixedTable.scss
 * @author leon.wang
 */
@import 'scss/common.scss';

.fixed-table {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__table {
    height: 100%;
    display: flex;
    flex-direction: column;

    .ds-table-wrapper,
    .ant-table-wrapper {
      width: 100%;
      display: flex;
      flex: 1 1 auto;
      min-height: 0;
      flex-direction: column;
    }

    .ds-spin-nested-loading,
    .ds-spin-container,
    .ds-table-container,
    .ant-table-container,
    .ds-table,
    .ant-table {
      display: flex;
      flex: 1 1 auto;
      min-height: 0;
      flex-direction: column;
    }

    .ds-table-thead,
    .ant-table-thead,
    .ds-table-pagination,
    .ds-pagination,
    .ant-pagination {
      flex-shrink: 0;
    }

    .ds-table-body,
    .ant-table-body {
      flex: 1 1 auto;
      min-height: 0;
    }
  }
}

.fixed-table .ds-table-pagination.ds-pagination {
  margin: 0 !important;
  padding: 16px;
}
