@import './scss/common.scss';

.app-layout {
  background-color: #fff;
  &__header {
    z-index: 50;
    background: #fff;
    border-bottom: 1px solid #dfe4e8;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    line-height: 56px;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 4px #708a9714;
  }
  &__sider {
    height: calc(100vh - 56px);
    margin-top: var(--nav-height);
    z-index: 40;
    border-right: 1px solid #dfe4e8;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff !important;
    position: fixed !important;
  }
  .app-content {
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    padding: var(--nav-height) 0 0 var(--menu-width);
    transition: padding-left $theme-transition-duration ease-in-out;
    padding-bottom: 40px;

    .app-loading {
      position: absolute;
      top: 56px;
      left: 248px;
      right: 0;
      bottom: 50px;
      width: 48px;
      height: 48px;
      margin: auto;
      transition: left $theme-transition-duration ease-in-out;
    }

    .app-content-modal {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .ds-table {
      &.ds-table-empty {
        .ds-table-cell {
          overflow: hidden;
        }
      }
    }
  }

  &.no-padding-bottom .app-content {
    padding-bottom: 0;
  }

  &.has-banner {
    .nav-menu {
      height: 100%;
    }

    .app-content {
      padding-top: 56px;

      .module-header.fixed {
        top: 56px;
      }
    }
  }

  &.footer-hidden {
    .app-content {
      padding-bottom: 0;
    }

    .app-footer {
      display: none;
    }
  }
}

.nav-menu-collapsed .app-content {
  padding-left: 64px;

  .app-loading {
    left: 64px;
  }
}

@media (max-width: 768px) {
  .app {
    .app-content {
      // 100% 高度减去 mobile footer 的高度
      min-height: calc(100vh - 56px);
      padding: 56px 0 64px 0;

      .app-loading {
        left: 0;
      }
    }
  }
}
