.fullscreen-modal {
  .ds-modal-content {
    height: 100vh;
    border-radius: 0;
  }
  .ds-modal-body {
    max-height: 100vh;
    overflow-y: auto;
    padding: 0;

    iframe {
      height: 100vh;
      border: none;
      width: 100%;
    }
  }
}
