@import '../scss/common.scss';

.app-layout {
  background-color: #fff;
  &__header {
    z-index: 50;
    background: #fff;
    border-bottom: 1px solid #dfe4e8;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    line-height: 56px;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 4px #708a9714;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .mobile-menus {
      font-size: 18px;
      display: none;
    }
  }
  &__sider {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: calc(100vh - var(--nav-height));
    border-right: 1px solid #dfe4e8;
    margin-top: var(--nav-height);
    z-index: 40;
    //   overflow-y: auto;
    //   &::-webkit-scrollbar {
    //     display: none;
    //   }
  }

  &__content {
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    padding: var(--nav-height) 0 0 var(--menu-width);

    &.no-sider {
      padding-left: 0;
    }
    transition: paddinqg-left $theme-transition-duration ease-in-out;
    padding-bottom: 40px;
    background: #fff;

    .content-layout {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      gap: 16px;
      &__header {
        padding: 8px 40px 16px;
        background-color: #fff;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dfe4e8;
      }
      &__content {
        padding: 8px 40px 0;
      }
    }

    .app-loading {
      position: absolute;
      top: 56px;
      left: 248px;
      right: 0;
      bottom: 50px;
      width: 48px;
      height: 48px;
      margin: auto;
      transition: left $theme-transition-duration ease-in-out;
    }

    .app-content-modal {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  &.no-padding-bottom .app-content {
    padding-bottom: 0;
  }

  &.has-banner {
    .nav-menu {
      height: 100%;
    }

    .app-content {
      padding-top: 56px;

      .module-header.fixed {
        top: 56px;
      }
    }
  }

  &.footer-hidden {
    .app-content {
      padding-bottom: 0;
    }

    .app-footer {
      display: none;
    }
  }
}

.nav-menu-collapsed .app-content {
  padding-left: 64px;

  .app-loading {
    left: 64px;
  }
}

@media (max-width: 768px) {
  .app-layout {
    --menu-width: 0;
    &__header {
      .mobile-menus {
        display: block;
      }
    }
    &__sider {
      display: none;
    }
  }
}
