@import '../scss/common.scss';

.app-layout {
  background-color: #fff;
  &__header {
    z-index: 50;
    background: #fff;
    border-bottom: 1px solid #dfe4e8;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    line-height: 56px;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 4px #708a9714;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .mobile-menus {
      font-size: 20px;
      display: none;
    }
  }
  &__sider {
    // overflow-y: scroll;
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    height: calc(100vh - 56px);
    margin-top: var(--nav-height);
    padding: 32px 0;
    z-index: 40;
    border-right: 1px solid #dfe4e8;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    position: fixed;

    &:hover {
      .app-layout__sider__toggle-button {
        opacity: 1;

        &:hover {
          width: 40px;
        }

        &.collapsed {
          &:hover {
            right: -24px;

            .ds-btn-icon {
              margin-left: 8px;
            }
          }
        }

        &.expanded {
          &:hover {
            right: -16px;

            .ds-btn-icon {
              margin-right: 8px;
            }
          }
        }
      }
    }

    &__toggle-button {
      position: absolute;
      right: -16px;
      top: 8px;
      box-sizing: border-box;
      width: 32px;
      height: 24px;
      padding: 0 2px;
      border: none;
      border-radius: 16px;
      box-shadow: none;
      line-height: 24px;
      color: #fff;
      cursor: pointer;
      opacity: 0;
      transition: right 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
        opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
        width 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

      .ds-btn-icon {
        transition: margin-left 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
          margin-right 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }
  &__content {
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    padding: var(--nav-height) 0 0 var(--menu-width);
    transition: padding-left $theme-transition-duration ease-in-out;
    padding-bottom: 40px;
    background: #fff;

    .content-layout {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      gap: 16px;
      &__header {
        padding: 8px 40px 16px;
        background-color: #fff;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dfe4e8;
      }
      &__content {
        padding: 8px 40px 0;
      }
    }

    .app-loading {
      position: absolute;
      top: 56px;
      left: 248px;
      right: 0;
      bottom: 50px;
      width: 48px;
      height: 48px;
      margin: auto;
      transition: left $theme-transition-duration ease-in-out;
    }

    .app-content-modal {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  &.no-padding-bottom .app-content {
    padding-bottom: 0;
  }

  &.has-banner {
    .nav-menu {
      height: 100%;
    }

    .app-content {
      padding-top: 56px;

      .module-header.fixed {
        top: 56px;
      }
    }
  }

  &.footer-hidden {
    .app-content {
      padding-bottom: 0;
    }

    .app-footer {
      display: none;
    }
  }
}

.nav-menu-collapsed .app-content {
  padding-left: 64px;

  .app-loading {
    left: 64px;
  }
}

@media (max-width: 768px) {
  .app-layout {
    --menu-width: 0;
    &__header {
      .mobile-menus {
        display: block;
      }
    }
    &__sider {
      display: none;
    }
  }
}

// @media (max-width: 768px) {
//   .app-layout {
//     &-content {
//       // 100% 高度减去 mobile footer 的高度
//       min-height: calc(100vh - 56px);
//       padding: 56px 0 64px 0;

//       .app-loading {
//         left: 0;
//       }
//     }
//   }
// }
