@import 'scss/common.scss';

.app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 16px;
  color: $theme-label;
  font-size: 12px;
  height: 64px;
  display: grid;
  place-items: center;
  place-content: center;
  background-color: #fff;
}
