@import 'scss/common.scss';

.app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 16px;
    color: $theme-label;
    font-size: 12px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}