.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border-bottom: 1px solid #dfe4e8;
  box-shadow: 0 4px 4px rgba(112, 138, 151, 0.08);
  line-height: 56px;
  z-index: 50;
  background-color: #fff;
}
