@import '../scss/common.scss';

.app-menus {
  border-inline-end: none !important;

  //   &.collapsed {
  //     .ant-menu-submenu-title,
  //     .ant-menu-item {
  //     }
  //   }

  .ant-menu-submenu-title,
  .ant-menu-item {
    .anticon {
      //   font-size: 20px;

      //   + span {
      //     margin-left: 14px;
      //   }
    }
  }
}
